<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <meta property="og:image" content="http://<%- domain %>:<%- port %>/<%- image %>" />
    <meta property="tangerine:image" content="http://<%- domain %>:<%- port %>/<%- image %>" />
  </head>
  <body>
    <img src="http://<%- domain %>:<%- port %>/<%- image %>"><br/>
    Redirecting...
  </body>
  <script type="text/javascript">
     setTimeout(() => {
       window.location.href = "<%- redirect %>";
     }, 10);
  </script>
</html>
